@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* color navbar */
.bg-light-brown {
    background-color: #0D0D0D; /* Color fondo navbar */
    color: rgb(255, 255, 255); /* Color texto */
  }

.navbar {
    font-family: 'Kanit', sans-serif;
}

/* Estilo para la navbar */
.navbar-dark .navbar-nav .nav-link {
    color: white; 
}

/* Estilo para el recuadro sobre los enlaces */
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    background-color: #8C1C03;
    border: 2px solid #8C1C03; 
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px; 
}







.btn-custom-red {
    background-color: #8C1C03;
    border-color: #8C1C03;
    color: white;
}



body{
    background-color: #dfb37e;
}

h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 6em; 
    line-height: 1.2;
}

p {
    font-family: 'Montserrat', sans-serif;
}



/*Mapa*/
