@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* color navbar */
.bg-light-brown {
    background-color: #e89528; /* Color fondo navbar */
    color: white; /* Color texto */
  }

/*Color icono*/
.navbar-brand .fa-utensils {
    color: rgb(107, 22, 22); /* Color rojo para el icono */
}

body{
    background-color: rgb(196, 187, 187);
}